<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          type="text/css"
          href="/stylesheets/stylesheet.css">
</head>

<body>
    <div class="course_block">
        <div class="text_center">
            <h2><%= course_title %></h2>
            <hr>
            <h3><%= study_program %></h3>
        </div>

        <p><%= description %>
        </p>
        <div class="course_proffessor">

            <img class="portrait"
                 src="assets/img/portrait.jpeg"
                 alt="proffessor">

            <span>~<%= teacher %></span>

            <div class="course_info">
                <dt>
                    Study Program:
                </dt>
                <dd>
                    This course is a part of <%= study_program %>. 
                </dd>
                <hr>
                <dt>
                    Semester:
                </dt>
                <dd>
                    <%= semester %>
                </dd>
                <hr>
                <dt>
                    Acedemic Level:
                </dt>
                <dd>
                    <%= level %>
                </dd>
                <hr>
                <dt>
                    Study Points:
                </dt>
                <dd class="lowest_dd">
                    7,5 EC
                </dd>
            </div>
        </div>

    </div>
</body>

</html>