<!-- This page loads the courses from the user can sign in. -->

<!DOCTYPE html>
<Html lang="en">

<head>
    <% include ../partials/head %>
    <script src="/group18/group18/javascripts/course.js"></script>
</head>

<body>
    <nav class="nav__color--black">
        <% include ../partials/navbar %>
    </nav>
    <div id="coursebody">
        <article id="course__article">
            <div id="info__header">
                <%= course_title %>
                <div>Department of
                    <%= study_program %>
                </div>
            </div>
            <div id="infoEntries__wrapper">

                <img class="portrait"
                     id="teacherimg"
                     src="/group18/images/teachers/<%= src %>.jpg"
                     alt="proffessor">


                <div class="infoEntry">
                    <div class="infoEntry__title">Teacher</div>
                    <div class="infoEntry__info">
                        <%= teacher %>
                    </div>
                </div>
                <div class="infoEntry description">
                    <div class="infoEntry__title">Description</div>
                    <div class="infoEntry__info">
                        <%= description %>
                    </div>
                </div>
                <div class="infoEntry">
                    <div class="infoEntry__title">Study credits</div>
                    <div class="infoEntry__info">7.5 ECTS</div>
                </div>
                <div class="infoEntry">
                    <div class="infoEntry__title">semester</div>
                    <div class="infoEntry__info">
                        <%= semester %>
                    </div>
                </div>
                <div class="infoEntry">
                    <div class="infoEntry__title"> Acedemic Level</div>
                    <div class="infoEntry__info">
                        <%= level %>
                    </div>
                </div>

                <div id="info__box">
                    <% if (loggedin && !registered) { %><button
                            id="register__btn">Register</button>
                    <% } %>
                    <% if (!loggedin) { %>
                    <a href="/group18/group18/signin">Sign in to register</a>
                    <% } %>

                    <% if (registered) { %>
                    <button id="unregister__btn">Unregister</button>
                    <% } %>
                </div>

            </div>
        </article>
    </div>

    <% include ../partials/footer %>


    <script id="data_course"
            type="application/json">
            {
                "course_id": <%= course_id %>


            }
        </script>
    <script id="data"
            type="application/json">
            {


                "loggedin": <%= loggedin %>
            }
        </script>


</body>

</Html>