<!-- This page allows the user to edit his/her profile. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="/javascripts/editprofile.js"></script>
</head>

<body>
    <div id="profilepage">
        <nav class="nav__color--black">
            <% include ../partials/navbar %>
        </nav>
        <div class="Profile__wrap">
            <div class="Profile__content">
                <img class="Profile__picture"
                     src="/images/user.png"
                     alt="user picture">
                <span id="name"> <%= firstname %> <%= lastname %> </span>
                <span id="studentnr"> <%= student_nr %> </span>
                <span id="programlevel"> <% if(acd_level == "level1") { %>
                    Bachelor <% } else { %> Master <% } %> -
                    <%= program %></span>
            </div>
        </div>

        <div id="editdata__wrap">
            <span id="edit__error"
                  class="edit__error"></span>
            <form method="POST"
                  action="/editprofile"
                  onsubmit="return validateEdit()">
                <div class="edit_input "> <span>Firstname</span> <input
                           type="text"
                           class="name"
                           name="firstname"
                           value="<%= firstname  %>"></div>
                <div class="edit_input "> <span>lastname</span> <input
                           type="text"
                           class="name"
                           name="lastname"
                           value="<%= lastname  %>"></div>
                <div class="edit_input "><span>Password</span> <input
                           type="password"
                           id="password"
                           name="password"
                           placeholder="Password"></div>
                <div class="edit_input "><span>RePassword</span> <input
                           type="password"
                           id="password"
                           name="repassword"
                           placeholder="Retype Password"></div>

                <select id="program__dropdown"
                        name="program"
                        class="dropdown">
                    <option value="Computer Science"
                            selected>Computer Science</option>
                    <option value="Information Science">Information Science
                    </option>
                    <option value="Mathematics">Mathematics</option>
                </select>

                <select id="acd_level__dropdown"
                        name="level"
                        class="dropdown">
                    <option value="Bachelor"
                            selected>Bachelor</option>
                    <option value="Master">Master</option>
                </select>

                <div class="edit__form__btn__wrapper ">
                    <div class="edit__form__bgbtn "></div>
                    <button id="edit_btn"
                            class="edit-form-btn "> Save </button>

                </div>
            </form>
        </div>

        <% include ../partials/footer %>

</body>
<script src="/javascripts/validateeditprofile.js"></script>

<script id="data"
        type="application/json">
    {

        "loggedin": <%= loggedin %>
    }
</script>



</script>

</html>