<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <script src="/javascripts/profile.js"></script>
</head>

<body>
    <div id="profilepage">
        <nav class="nav__color--black">
            <% include ../partials/navbar %>
        </nav>
        <div class="Profile__wrap">
            <div class="Profile__content">
                <img class="Profile__picture"
                     src="/images/user.png">
                <span id="name"> <%= firstname %> <%= lastname %> </span>
                <span id="studentnr"> <%= student_nr %> </span>
                <span id="programlevel"> <% if(acd_level == "level1") { %>
                    Bachelor <% } else { %> Master <% } %> -
                    <%= program %></span>
            </div>
        </div>

        <div class="Profile__edit__wrap">
            <span id="editprofile"> Edit Profile </span>
        </div>




        <div class="RegisteredCourses__wrap">

            <div class="RegisteredCourses__content">
                <span>Registered Courses</span>
                <div class=RegisteredCourses__list>

                </div>
            </div>

            <div id="signout__btn">
                <a href="/signout">SIGNOUT</a>
            </div>

            <span id="course__data"
                  style="display: none">
                <%= courses %>
            </span>
        </div>


        <% include ../partials/footer %>
</body>

<script id="data"
        type="application/json">
    {

        "loggedin": <%= loggedin %>
    }
</script>


</script>

</html>